{% extends 'base.html' %}

{% block content %}
<section class="container section">
    <form class="form-auth" method="post">
        <h2 class="form-heading">Register</h1>
        <label class="form-label" for="username">Username</label>
        <input class="form-input" name="username" id="username" required>
        <label class="form-label" for="password">Password</label>
        <input class="form-input" type="password" name="password" id="password" required>
        <input class="btn" type="submit" value="Register">
        
        <a class="form-link" href="{{ url_for('auth.login') }}">Already have an account? Login here.</a>
    </form>
</section>

    

{% endblock %}