@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


:root {
    /* Define CSS variablese  */
    --primary-color: #294C60;
    --secondary-color: #22272F;
    --thirdary-color: #2389D1;
    --background-color: #131213;

    --clr-dark: #030712;
    /* --clr-dark:  #09090b;  */
    --clr-light: #f3f4f6;
    --clr-gray400: #9ca3af;
    --clr-gray600: #4b5563;
    --clr-gray800: #1f2937;
    --clr-darkblue: #172554;
    --clr-skyblue: #075985;
    --clr-purple: #6b21a8;
    --clr-amber: #f59e0b;

    /* darkblue rgb(23, 37, 84) */
    /* skyblue rgb(7, 89, 133) */

    /* Sizes */

    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;


}

* {
    /* resetting styles */
    margin: 0;
    line-height: calc(1em+0.5rem);
}

html {
    scroll-behavior: smooth;
}

.light-mode {
    --clr-light: #030712;
    --clr-dark: #d8d9dce0;
    --clr-gray400: #1f2937;
    --clr-gray600: #1f2937;
    --clr-gray800: #1f2937;
}

body {
    font-family: "JetBrains+Mono", sans-serif;
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    /* Makes it so user can't select text or drag images https://developer.mozilla.org/en-US/docs/Web/CSS/user-select */
    user-select: none;
}

/* Set button style to nothing - reset style */
button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

a {
    /* color: var(--clr-amber); */
    color: var(--clr-darkblue);
}

strong {
    /* color: var(--clr-darkblue); */
    color: var(--clr-amber);
}

input {
    display: inline-block;
    padding: 0;
    border: 1px solid var(--clr-light);
    background: none;
    color: inherit;
}




  
  

