@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


:root {
    /* Define CSS variablese  */
    --primary-color: #294C60;
    --secondary-color: #22272F;
    --thirdary-color: #2389D1;
    --background-color: #131213;

    --clr-dark: #030712;
    /* --clr-dark:  #09090b;  */
    --clr-light: #f3f4f6;
    --clr-gray400: #9ca3af;
    --clr-gray600: #4b5563;
    --clr-gray800: #1f2937;
    --clr-darkblue: #172554;
    --clr-skyblue: #075985;
    --clr-purple: #6b21a8;
    --clr-amber: #f59e0b;

    /* darkblue rgb(23, 37, 84) */
    /* skyblue rgb(7, 89, 133) */
}

* {
    /* resetting styles */
    margin: 0;
    line-height: calc(1em+0.5rem);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "JetBrains+Mono", sans-serif;
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    /* Makes it so user can't select text or drag images https://developer.mozilla.org/en-US/docs/Web/CSS/user-select */
    user-select: none;
}

/* Set button style to nothing - reset style */
button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

a {
    color: var(--clr-amber);
}

strong {
    color: var(--clr-darkblue);
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: auto;
    /* background-color: var(--secondary-color); */
}

.nav-logo {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-logo:hover {
    text-decoration: line-through;
    text-decoration-color: var(--clr-skyblue);
}

.nav-user {
    text-decoration: underline;
    color:var(--clr-amber);
    font-weight: 600;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2em;
    /* border: 1px solid red; */
}

.nav-link {
    text-decoration: none;
    color: var(--clr-gray600);
    font-weight: 600;
    transition: color 0.6s;
}

.nav-link:hover {
    text-decoration: underline;
    color: var(--clr-skyblue);
}

.nav-line {
    padding-top: 1.5em;
    border: 1px solid white;
}

