@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


.btn {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    background-color: var(--clr-skyblue);
    /* background-color: var(--clr-amber); */
    color: var(--clr-light);
    padding: 0.5em 1em;
    border-radius: 6px;

    transition: transform 0.3s, box-shadow 0.3s, background-color 0.4s;

    /* box-shadow: 0 10px 20px rgba(7, 89, 133, 0.5), 0 6px 6px
    rgba(7, 89, 133, 0.5), 0 0 100px -10px var(--clr-skyblue); */
    
}

.btn:hover {
    background-color: rgba(7, 89, 133, 0.5);
    transform: translateY(-3px);
    /* box-shadow: 0 10px 20px rgba(7, 89, 133, 0.25), 0 10px 10px
    rgba(7, 89, 133, 0.22), 0 0 120 -10px var(--clr-skyblue); */

}

.form-auth {
    margin: auto;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-heading {
    text-align: center;
}

.form-label {
    font-weight: 600;
    gap: 0.5rem;
}

.form-input {
    padding: 1em 1em;
    border: 1px solid var(--clr-light);
}

input.btn {
    padding: 1em 1em;
    border: none;
}

.form-link {
    color: var(--clr-amber);
}



.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    /* border: 1px solid red; */
}

.section {
    margin-top: 6rem;
}

.form-warning {

    background-color: #fff3cd;
    padding: 1rem;
    margin: 0 auto;

    width: 50%;
    text-align: center;
    font-weight: 400;
    color: red;
    margin-bottom: 2rem;
}

/* xs */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }

    
}
/* s */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }

    
}
/* m */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 0.5rem;
    }


}
/* l */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    .section {
        margin-top: 10rem;
    }
}
/* xl */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}
/* 2xl */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}