<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Nick Yeadon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/utils.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/hero.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/about.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/streak.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/projects.css') }}">
</head>
<body>
    <header class="container">
        <nav class="nav">
            
            <a class="nav-logo" href="{{ url_for('auth.login')}}">Nicholas Yeadon</a>
            <ul class="nav-links">
                <!-- <li></li> -->
                <li><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
                <li><a class="nav-link" href="#about">About</a></li>
                <li><a class="nav-link" href="#projects">Projects</a></li>
                <li><a class="nav-link" href="#contact">Contact</a></li>
                <li class="nav-line"></li>
                {% if current_user.is_authenticated %}
                    <li><a class="nav-user">{{ current_user['username'] }}</a></li>
                    <li><a class="btn" href="{{ url_for('auth.logout')}}">Logout</a></li>
                {% else %} 
                    <li><a class="btn" href="{{ url_for('auth.login')}}">Login</a></li>
                {% endif %}
            </ul>
            <button class="nav-menu">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                    <path fill-rule="evenodd" d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
                </svg>   
            </button>
            
        </nav>
    </header>

    {% block content %}{% endblock %}    

    <!-- <div class="container">
        
    </div> -->
    

</body>
</html>

