{% extends 'base.html' %}

{% block content %}




<!-- Hero -->
<header>
    <h1>Hi, I'm Nicholas</h1>
    <p>Software Engineering Student | Backend Dev</p>
</header>

<!-- About Section -->
<section id="about">
    <h2>About Me</h2>
    <p>I love C++, Java, and building cool backend systems. UTS student in final year.</p>
</section>

<!-- Projects Section -->
<section id="projects">
    <h2>Projects</h2>
    <ul>
        <li>
            <strong>Password Manager</strong> – XOR encryption + Huffman compression.
            <a href="https://github.com/YEADOS/password_manager_original">GitHub</a>
        </li>
        <li>
            <strong>Store App</strong> – JavaFX UI for managing products.
            <a href="https://github.com/YEADOS/StoreApplication">GitHub</a>
        </li>
    </ul>
</section>

<!-- Contact Section -->
<section id="contact">
    <h2>Contact Me</h2>
    <p>Email: nicholas.yeadon@student.uts.edu.au</p>
</section>


<div class="container">
    <div class="section">
        <h2>LeetCode Tracker</h2>
        <p>Simple Leetcode tracker that keeps count of how many days in a row I have accessed the website</p>
        <a class="btn" href="{{ url_for('tracker.view') }}">Check Streak</a>
    </div>
</div>

{% endblock %}