{% extends 'base.html' %}

{% block content %}




<!-- Hero -->
<section class="hero container">
    <img class="hero-image" src="static/Images/hero.png" alt="Me" />
    <h1 class="hero-title">Hi, I'm Nicholas</h1>
    <h2 class="hero-subtitle">Software Engineering<br>Student</h2>
    <p class="hero-description"><strong>Backend-focused</strong> Software Engineering student skilled in <strong>C++, Java,</strong> and <strong>Python</strong>, with a passion for building <strong>scalable</strong> and <strong>efficient systems</strong>.</p>
    <a class="hero-btn btn">Contact</a>
</section>

<!-- About Section -->
<section id="about" class="container section">
    <h2>About Me</h2>
    <p>I love <strong>C++, Java,</strong> and building cool backend systems. UTS student in final year.</p>
</section>

<!-- Projects Section -->
<section id="projects" class="container section">
    <h2>Projects</h2>
    <button class="btn">HelloBtn</button>
    <ul>
        <li>
            <strong>Password Manager</strong> – XOR encryption + Huffman compression.
            <a href="https://github.com/YEADOS/password_manager_original">GitHub</a>
        </li>
        <li>
            <strong>Store App</strong> – JavaFX UI for managing products.
            <a href="https://github.com/YEADOS/StoreApplication">GitHub</a>
        </li>
    </ul>
</section>

<!-- Contact Section -->
<section id="contact" class="container section">
    <h2>Contact Me</h2>
    <p>Email: nicholas.yeadon@student.uts.edu.au</p>

</section>


<div class="container">
    <div class="section">
        <h2>LeetCode Tracker</h2>
        <p>Simple Leetcode tracker that keeps count of how many days in a row I have accessed the website</p>
        <a class="btn" href="{{ url_for('tracker.view') }}">Check Streak</a>
    </div>
</div>

{% endblock %}